

.woo-better-reviews-list-messages-wrapper {
	clear: both;
	margin: 0 0 20px;
}

.woo-better-reviews-message-text {

	clear: both;
	width: 100%;
	display: block;
	border: 1px solid #778899;
	border-radius: 3px;
	background-color: #fff;
	padding: 7px;
	margin: 0;
	position: relative;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #222;

	&.woo-better-reviews-message-text-success {
		@include msg-display-success;
	}

	&.woo-better-reviews-message-text-error {
		@include msg-display-error;
	}

}





@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}
