
.woo-better-reviews-rating-content-fields {
	margin-bottom: 25px;
}

.woo-better-reviews-rating-content-field-wrap {

	margin-bottom: 20px;

	.woo-better-reviews-rating-field-label {
		display: block;
		width: 100%;
		// color: #000;

		margin: 0 0 7px;
		padding: 0 3px;
		background-color: transparent;
		font-size: 12px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;

		.woo-better-reviews-field-required {
			color: #8b0000;
			padding-left: 3px;
		}
	}

	.woo-better-reviews-rating-input-field {

		display: block;
		width: 100%;

		&.woo-better-reviews-rating-text-field {}
	}

	.woo-better-reviews-rating-field-description {
		display: block;
		width: 100%;
		font-size: 12px;
		line-height: 16px;
		font-style: italic;
		margin-top: 3px;
	}


	&.woo-better-reviews-rating-text-field-wrap {}


	&.woo-better-reviews-rating-textarea-field-wrap {}


	&.woo-better-reviews-rating-editor-minimal-field-wrap {

		.wp-editor-area {
			border-color: #dddddd;
			font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		}

	}


	&.woo-better-reviews-rating-dropdown-field-wrap {

		.woo-better-reviews-rating-field-label,
		.woo-better-reviews-rating-input-field {
			width: auto;
			display: inline-block;
			vertical-align: middle;
		}

	}


}



@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

