
/**
 * Star CSS originally sourced here: https://codepen.io/jamesbarnett/pen/vlpkh?editors=1100#0
 */

.woo-better-reviews-rating-stars-fields {
	margin-bottom: 20px;

	.woo-better-reviews-rating-form-stars-intro {
		margin: 0 0 5px;
	}

	.woo-better-reviews-rating-form-stars-row {
		width: 100%;
		display: block;
		overflow: hidden;
	}

	.woo-better-reviews-rating-form-stars-fieldset {

		border: none;
		float: left;
		margin: 0;
		padding: 0;

		& > input {
			display: none;
		}

		& > label:before {
			margin: 5px;
			font-size: 36px;
			line-height: 1;
			font-family: dashicons;
			display: inline-block;
			content: "\f155";
		}

		/* removing the half scoring for now.
		& > .woo-better-reviews-single-star-half:before {
			content: "\f459";
			position: absolute;
		}
		*/

		& > label {
			color: #ddd;
			float: right;
		}

		& > input:checked ~ label, // show gold star when clicked
		&:not(:checked) > label:hover, // hover current star
		&:not(:checked) > label:hover ~ label { color: #FFD700; cursor: pointer; } // hover previous stars in list

		& > input:checked + label:hover, // hover current star when changing rating
		& > input:checked ~ label:hover,
		& > label:hover ~ input:checked ~ label, // lighten current selection
		& > input:checked ~ label:hover ~ label { color: #FFED85; cursor: pointer; }

	}


}




@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

