
.woo-better-reviews-rating-submit-meta-fields {


	.woo-better-reviews-rating-button-wrap {

		.woo-better-reviews-rating-single-button-span {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}

		.woo-better-reviews-rating-submit-review-span {
			margin-right: 10px;
		}

	}

}


@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

