
.woo-better-reviews-display-block {


	&.woo-better-reviews-existing-block {}

}

.woo-better-reviews-single-review-display-block {

	clear: both;
	margin: 10px 0;
	padding: 5px 0 10px;
	border-bottom: 1px solid rgba( 0, 0, 0, .05 );

}

.woo-better-reviews-single-review-block {}



@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

