
.woo-better-reviews-rating-form-stars-intro {
	margin: 0 0 5px;
}

.woo-better-reviews-rating-form-stars-row {

	margin: 0;
	padding: 0;
	list-style: none;

	display: inline-block;
	vertical-align: middle;
	width: auto;
	line-height: 1;

	.woo-better-reviews-rating-form-star {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0;
		padding: 0 10px 0 0;
		font-size: 30px;
		line-height: 1;

	}

}


@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

