
.woo-better-reviews-list-title-wrapper {

	margin: 0 0 10px;

	.woo-better-reviews-template-title {
		margin-bottom: 0;
		line-height: 33px;

		.woo-better-reviews-template-title-product-name {
			font-weight: 600;
			font-size: 110%;
		}

		.woo-better-reviews-template-title-form-link {
			font-size: 14px;
			line-height: 33px;
			margin-left: 20px;
		}

	}

}

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

