
form.woo-better-reviews-admin-edit-single-item-form {
	max-width: 800px;
}

.woo-better-reviews-form-inside-list-wrap {
	margin: 0;
	padding: 7px 0 0;

	.woo-better-reviews-form-inside-list-label {
		min-width: 120px;
		display: inline-block;
	}
}

.edit-single-item-actions {

	.cancel-edit-link-wrap {

		line-height: 28px;
		vertical-align: middle;
		text-align: left;
		margin-left: 8px;

		.cancel-edit-link {
			color: #a00;
			text-decoration: none;
		}

	}
}

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

