
form.woo-better-reviews-admin-edit-single-item-form {
	max-width: 800px;
}

.woo-better-reviews-form-inside-list-wrap {
	margin: 0;
	padding: 7px 0 0;

	.woo-better-reviews-form-inside-list-label {
		min-width: 120px;
		display: inline-block;
	}
}

.woo-better-reviews-form-field.attribute-labels-wrap {

	.woo-better-reviews-form-split {

		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 4px 0 0;

		&.woo-better-reviews-form-split-left {}

		&.woo-better-reviews-form-split-right {}

		.woo-better-reviews-form-split-label {
			font-size: 11px;
			font-style: italic;
			padding: 2px 0 0 2px;
		}
	}
}

.wp-editor-area {

	&.edit-review-content {
		// border-color: #fff;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
		border: 0 none;
	}
}

.edit-single-item-actions {

	.cancel-edit-link-wrap {

		line-height: 28px;
		vertical-align: middle;
		text-align: left;
		margin-left: 8px;

		.cancel-edit-link {
			color: #a00;
			text-decoration: none;
		}

	}
}

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

