
form.woo-better-reviews-admin-import-existing-form,
form.woo-better-reviews-admin-convert-existing-form {
	max-width: 800px;
}

.woo-better-reviews-admin-form-input-wrapper {

	.woo-better-reviews-admin-form-label {
		margin-bottom: 4px;
		display: inline-block;
	}

	.woo-better-reviews-admin-form-description {
		display: inline-block;
		width: auto;
		font-style: italic;

		&.woo-better-reviews-admin-import-description {
			padding-left: 25px;
			font-size: 90%;
		}
	}

}


.woo-better-reviews-import-submit-wrapper,
.woo-better-reviews-convert-submit-wrapper {

	.submit {
		padding-bottom: 10px;
	}

	.cancel-import-link-wrap,
	.cancel-convert-link-wrap {

		line-height: 28px;
		vertical-align: middle;
		text-align: left;
		margin-left: 8px;

		.cancel-import-link,
		.cancel-convert-link {
			color: #a00;
			text-decoration: none;
		}

	}
}

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

