
form.woo-better-reviews-admin-import-existing-form {
	max-width: 800px;
}

.woo-better-reviews-import-submit-wrapper {

	.cancel-import-link-wrap {

		line-height: 28px;
		vertical-align: middle;
		text-align: left;
		margin-left: 8px;

		.cancel-import-link {
			color: #a00;
			text-decoration: none;
		}

	}
}

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

