

.wp-list-table.productreviews {


	.column-review_verified {
		width: 80px;
	}

}


.woo-better-reviews-admin-table-display {

	&.woo-better-reviews-admin-table-review-product {

		.woo-better-reviews-admin-table-product-name {
			margin-right: 5px;
		}

		.woo-better-reviews-admin-table-product-links {
			font-size: 80%;

			.woo-better-reviews-admin-table-link {
				padding: 2px 3px;
			}
		}
	}

	&.woo-better-reviews-admin-table-review-author {

		.woo-better-reviews-admin-table-review-author-id {
			display: block;
			width: 100%;
			color: #999;
			font-size: 13px;
		}

	}

	&.woo-better-reviews-admin-table-review-verified {

		padding: 0 10px;
		display: inline-block;

		.woo-better-reviews-admin-table-review-verified-check {

			font-size: 36px;
			line-height: 1;
			color: #0274be;

			&:after {
				content: "\2714";
				font-size: inherit;
				line-height: 1;
			}
		}

	}


	&.woo-better-reviews-admin-table-review-status {

		display: inline-block;
		margin: 5px 0 0;

		.review-status {
			display: -webkit-inline-box;
			display: inline-flex;
			line-height: 2em;
			color: #777;
			background: #e5e5e5;
			border-radius: 4px;
			border-bottom: 1px solid rgba(0, 0, 0, .05);
			margin: 0;
			cursor: inherit !important;
			white-space: nowrap;
			max-width: 100%;

			&.status-approved {
				background: #c8d7e1;
				color: #2e4453;
			}

			&.status-pending {
				background: #f8dda7;
				color: #94660c;
			}

			&.status-hidden {
				background: #c6e1c6;
				color: #5b841b;
			}

			&.status-rejected {
				background: #eba3a3;
				color: #761919;
			}

			&.status-trash {
				background: #eba3a3;
				color: #761919;
			}

		}

		.review-status > span {
			margin: 0 1em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.woo-better-reviews-admin-attribute-list {
		margin: 0;
		padding: 0;
	}

}


@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

