
.col-primary-display-left {

	.col-wrap {
		margin-top: 40px;

		.woo-better-reviews-add-new-submit-wrap {
			margin: 0 0 10px;
			padding: 10px 0;
		}
	}

}

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

