


.manage-column.column-wbr-count {}

thead {

	th#wbr-count {
		width: 125px;
	}

	th#wbr-average {
		width: 135px;
	}


}

.column-wbr-count {

	.wbr-review-col-count {
		padding: 1px 3px;
		font-size: 14px;
	}

}
