
.woocommerce_options_panel {

	.product-reminder-wait_field {

		input.relative-date {
			width: 65px;
			margin-right: 5px;
		}

		.description {
			display: inline-block;
			width: 100%;
		}

	}

}


