


body.woo-better-reviews-admin-body-class {

	table.form-table {

		input.woo-better-reviews-settings-date-group {
			line-height: 32px;
			height: 32px;
		}

		.woo-better-reviews-settings-block-desc {
			display: block;
			width: 100%;
			padding: 10px 0 0;
		}

		.woo-better-reviews-inline-label-text {
			font-style: italic;
			color: #666;
			font-size: 90%;
		}

	}

}
