.woo-better-reviews-admin-table-review-score {

	.woo-better-reviews-list-total-score {

		margin: 0;
		display: inline-block;
		vertical-align: middle;
		width: auto;

		font-size: 20px;
		line-height: 1;

		.woo-better-reviews-single-star {

			line-height: 1;

			&.woo-better-reviews-single-star-full {}

			&.woo-better-reviews-single-star-empty {}
		}

	}

}
