
.woo-better-reviews-single-charstcs-wrap {

	.woo-better-reviews-single-author {
		margin: 0 0 3px;
		text-align: left;
		font-weight: 300;

		.woo-better-reviews-single-author-val {
			font-weight: 400;
		}
	}

}

.woo-better-reviews-author-charstcs {

	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-align: left;

	.woo-better-reviews-single-author-charstc {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0;
		padding: 0 10px 0 0;

		&:after {
			content: "|";
			margin-left: 10px;
		}

		&:last-child {

			&:after {
				content: "";
				margin-left: 0;
			}
		}

		.woo-better-reviews-author-charstc-item {

			&.woo-better-reviews-author-charstc-label {
				font-weight: 300;
			}

			&.woo-better-reviews-author-charstc-value {}
		}
	}

}


@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

