

.woo-better-reviews-single-header-wrap {
	margin: 0 0 15px;

	.woo-better-reviews-single-stars-wrap {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0 20px 0 0;
		line-height: 30px;

		.woo-better-reviews-single-star {
			font-size: 22px;
			line-height: 30px;
		}
	}

	.woo-better-reviews-single-title {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0;
		font-size: 24px;
		line-height: 30px;

		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}
	}

	.woo-better-reviews-single-date {
		margin: 5px 0 0;
		font-size: 14px;
		line-height: 20px;
		font-style: italic;
	}

	.woo-better-reviews-list-total-score {

		.woo-better-reviews-single-star-full { color: #FFD700; }

		.woo-better-reviews-single-star-empty { color: #999; }
	}

}

.woo-better-reviews-stars-html-wrapper {

	display: inline-block;
	vertical-align: middle;

	.woo-better-reviews-list-total-score {

		.woo-better-reviews-single-star-full { color: #FFD700; }

		.woo-better-reviews-single-star-empty { color: #999; }
	}

}

/*
.woo-better-reviews-single-date-author {

	margin: 0 0 2px;
	font-weight: 300;

	.woo-better-reviews-inline-item {

		font-weight: normal;

		&.woo-better-reviews-inline-review-date {
			margin-right: 10px;
		}

		&.woo-better-reviews-inline-author-name {}

		&.woo-better-reviews-inline-verified-check {

			margin: 0 0 0 5px;
			font-size: 16px;
			line-height: 1;
			color: #2e4053;

			&:after {
				content: "\2713";
				font-size: 16px;
				line-height: 1;
			}
		}

	}

}

.woo-better-reviews-single-summary {
	margin-bottom: 3px;
	font-style: italic;
}
*/

@media only screen and (max-width: 782px) {}


@media only screen and (max-width: 600px) {}

